## Data wrangling / Data munging

**Data wrangling** , sometimes referred to as data munging, is the process of transforming and mapping data from one "raw" data form into another format with the intent of making it more appropriate and valuable for a variety of downstream purposes such as analytics.

The data transformations are typically applied to distinct entities (e.g. fields, rows, columns, data values etc.) within a data set, and could include such actions as extractions, parsing, joining, standardizing, augmenting, cleansing, consolidating and filtering to create desired wrangling outputs that can be leveraged downstream.

The recipients could be individuals, such as data architects or data scientists who will investigate the data further, business users who will consume the data directly in reports, or systems that will further process the data and write it into targets such as data warehouses, data lakes or downstream applications.

**Data munging broadly consists of following steps :**

    * Data Ingestion
    * Data merging
    * Quick data exploration
    * Checking initial stats of the data
    * Cleaning the data 
        * check for missing values
        * Treat missing values
        * check for inconsistencies in names / values across data columns
        * Treat data inconsistencies
        * renaming columns names
        * introduce new columns after cleaning
    * Exploratory Data Analysis (EDA)
        * Data visualisation
        * Data distribution checking
        * Detailed data stats study
        * Check and treat outliers
    * Feature engineering 
        * Binning
        * categorical features to one hot feature conversion
        * categorical features to factorized features
        * creating interactive features
        * creating polynomial features
        * deriving features
        * acquiring more features
    * Preprocesssing 
        * feature scaling
        * feature normalization 
        * training data format changing as per ML algo

### Import libraries

In [2]:
import pandas as pd
import numpy as np

### Data input

In [3]:
# Download
DATASET = (
    "http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",
    "http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names",
    "http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test",
)

### LOAD THE DATASET

In [4]:
import pandas as pd
import numpy as np
# Load Training and Test Data Sets
# Load Training and Test Data Sets
my_headers = ['age', 'workclass', 'fnlwgt', 
           'education', 'education-num', 
           'marital-status', 'occupation', 
           'relationship', 'race', 'sex', 
           'capital-gain', 'capital-loss', 
           'hours-per-week', 'native-country', 
           'predclass']
train_data_path='http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
test_data_path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test'
training_raw = pd.read_csv(train_data_path,
                       names=my_headers,na_values=[" ?"])
test_raw = pd.read_csv(test_data_path, 
                       
                      names=my_headers,na_values=[" ?"])

In [5]:
# Join Datasets
dataset_raw = training_raw.append(test_raw)
dataset_raw.reset_index(inplace=True)
dataset_raw.drop('index',inplace=True,axis=1)

### Check intial data stats

In [7]:
dataset_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age               48755 non-null float64
workclass         46043 non-null object
fnlwgt            48842 non-null int64
education         48842 non-null object
education-num     48842 non-null int64
marital-status    48814 non-null object
occupation        46033 non-null object
relationship      48842 non-null object
race              48842 non-null object
sex               48842 non-null object
capital-gain      48829 non-null float64
capital-loss      48842 non-null int64
hours-per-week    48842 non-null int64
native-country    47964 non-null object
predclass         48842 non-null object
dtypes: float64(2), int64(4), object(9)
memory usage: 5.6+ MB

In [5]:
# Describing all the Numerical Features
dataset_raw.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48754.000000,4.884100e+04,48841.000000,48828.000000,48841.000000,48841.000000
mean,38.671063,1.896634e+05,10.078152,1079.377017,87.504105,40.422391
std,13.707213,1.056050e+05,2.570961,7453.064923,403.008483,12.391571
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175490e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781420e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376460e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
# Describing all the Categorical Features
dataset_raw.describe(include=['O'])

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,predclass
count,46042,48841,48813,46032,48841,48841,48841,47963,48841
unique,8,16,7,14,6,5,2,41,4
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,33905,15784,22379,6172,19716,41762,32649,43813,24720

### Finding which columns have missing values

In [10]:
# Get all missing column names
missing_info = list(dataset_raw.columns[dataset_raw.isnull().any()])
print(missing_info)
# Get the sum of missing values in each column 
dataset_raw.isnull().sum()

['workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'predclass']

age                  0
workclass         2800
fnlwgt               1
education            1
education-num        1
marital-status       1
occupation        2810
relationship         1
race                 1
sex                  1
capital-gain         1
capital-loss         1
hours-per-week       1
native-country     858
predclass            1
dtype: int64

### Check for missing values

In [8]:
dataset_raw.isnull()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,predclass
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48813,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
48814,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48815,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48816,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48817,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48818,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48819,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48820,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48821,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48822,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48823,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48824,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48825,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48826,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48827,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
48828,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48829,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48830,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48831,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48832,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48833,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48834,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48835,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48836,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48837,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48838,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48839,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False
48840,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48841,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48842,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

### For columns with missing values, print the number of rows with missing values

In [6]:
dataset_raw.isna().sum()

age                  0
workclass         2800
fnlwgt               1
education            1
education-num        1
marital-status       1
occupation        2810
relationship         1
race                 1
sex                  1
capital-gain         1
capital-loss         1
hours-per-week       1
native-country     858
predclass            1
dtype: int64

### Find the percentage of missing values in each column

In [11]:
for col in missing_info:
    percent_missing = float(dataset_raw[dataset_raw[col].isnull() == True].shape[0] / dataset_raw.shape[0])
    print('percent missing for column {}: {}'.format(col, percent_missing*100)) #percentage of missing data

percent missing for column workclass: 5.732653604405954
percent missing for column fnlwgt: 0.0020473762872878407
percent missing for column education: 0.0020473762872878407
percent missing for column education-num: 0.0020473762872878407
percent missing for column marital-status: 0.0020473762872878407
percent missing for column occupation: 5.753127367278832
percent missing for column relationship: 0.0020473762872878407
percent missing for column race: 0.0020473762872878407
percent missing for column sex: 0.0020473762872878407
percent missing for column capital-gain: 0.0020473762872878407
percent missing for column capital-loss: 0.0020473762872878407
percent missing for column hours-per-week: 0.0020473762872878407
percent missing for column native-country: 1.7566488544929673
percent missing for column predclass: 0.0020473762872878407

In [27]:
from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

### Use the DataFrameImputer class defined above to impute values to rows with  missing values.

In [68]:
##########################################################################
"""
Impute missing values.

Columns of dtype object are imputed with the most frequent value 
in column.

Columns of other types are imputed with mean of column.
"""
##########################################################################

#Method 1

# dataframe for categorical values
obj_df = dataset_raw.select_dtypes(['object'])

# imputation for categorical data
mean_fill_df = dataset_raw.fillna(dataset_raw.mean())
obj_df = mean_fill_df.apply(lambda x:x.fillna(x.value_counts().index[0]))
obj_df.isnull().sum()

#Method 2
for col in dataset_raw:
    if dataset_raw[col].dtype =='object':
        filled_df = dataset_raw.apply(lambda x:x.fillna(x.value_counts().index[0]))
    else:
        filled_df = dataset_raw.fillna(dataset_raw.mean())
filled_df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
predclass         0
dtype: int64

### Use appropriate formatting for all columns

In [16]:
str_formated_df = dataset_raw.copy()

In [20]:
str_formated_df['workclass'] = str_formated_df['workclass'].apply(lambda x : str(x).strip())
str_formated_df['education'] = str_formated_df['education'].apply(lambda x : str(x).strip())
str_formated_df['marital-status'] = str_formated_df['marital-status'].apply(lambda x : str(x).strip())
str_formated_df['occupation'] = str_formated_df['occupation'].apply(lambda x : str(x).strip())
str_formated_df['relationship'] = str_formated_df['relationship'].apply(lambda x : str(x).strip())
str_formated_df['race'] = str_formated_df['race'].apply(lambda x : str(x).strip())
str_formated_df['sex'] = str_formated_df['sex'].apply(lambda x : str(x).strip())
str_formated_df['native-country'] = str_formated_df['native-country'].apply(lambda x : str(x).strip())
str_formated_df['age'] = str_formated_df['age'].apply(lambda x : str(x).strip())
str_formated_df['fnlwgt'] = str_formated_df['fnlwgt'].apply(lambda x : str(x).strip())
str_formated_df['education-num'] = str_formated_df['education-num'].apply(lambda x : str(x).strip())
str_formated_df['capital-gain'] = str_formated_df['capital-gain'].apply(lambda x : str(x).strip())
str_formated_df['capital-loss'] = str_formated_df['capital-loss'].apply(lambda x : str(x).strip())
str_formated_df['hours-per-week'] = str_formated_df['hours-per-week'].apply(lambda x : str(x).strip())